@use "./../../helper/mixins" as m;
@use "./../../helper/variables" as v;

.app-header {
    @include m.flex($justify: space-between);
    padding: 0 v.$px-layout;
    height: v.$height-topbar;
  
    &-navigation {
      @include m.flex();
  
      .submenu {
        @include m.flex();
        gap: 2vw;
  
        a {
          @include m.flex();
          height: v.$height-topbar;
          gap: 6px;
          color: #333;
          text-decoration: none;
          padding: 0 0.6vw;
          position: relative;
  
          .text {
            font-weight: 400;
          }
  
          .material-symbols-outlined {
            font-size: 16px;
            font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
            transition: all 0.4s ease-out;
          }
  
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            transform: scaleX(1);
            transform-origin: right;
            transition: transform 0.6s ease-out;
          }
  
          &:hover,
          &:focus {
            .material-symbols-outlined {
              transition: all 0.4s ease-out;
              font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
            }
  
            &::before {
              animation: underline 1.3s ease-out forwards;
  
              @keyframes underline {
                0% {
                  transform: scaleX(1);
                }
  
                50% {
                  transform: scaleX(0);
                }
  
                100% {
                  transform: scaleX(1);
                }
              }
            }
          }
  
          &.active {
            .text {
              font-weight: 700;
            }
  
            .material-symbols-outlined {
              font-size: 16px;
              font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
            }
  
            &::before {
              height: 2px;
            }
  
            &:hover,
            &:focus {
              .material-symbols-outlined {
                transition: all 0.4s ease-out;
                font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
              }
            }
          }
        }
      }
    }
  
    &-actions {
      @include m.flex();
      gap: 20px;
  
      .user-profile {
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: black;
        transition: 0.25s ease;
        text-decoration: none;
        height: v.$height-topbar;
  
        &:hover,
        &:focus {
          color: #333;
          span:last-child {
            box-shadow: 0 0 0 4px map-get($map: v.$color, $key: "light-color"),
              0 0 0 5px #969593;
          }
        }
  
        span:first-child {
          display: flex;
          font-size: 1.125rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #ddd;
          font-weight: 300;
        }
  
        span:last-child {
          transition: 0.25s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          overflow: hidden;
          margin-left: 1.5rem;
          flex-shrink: 0;
        }
        img{
          width: 100%;
        }
      }
      .app-header-actions-buttons {
        display: flex;
        border-left: 1px solid #333;
        margin-left: 1rem;
        padding-left: 2rem;
  
        & > * + * {
          margin-left: 1rem;
        }
      }
      .icon-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background-color: transparent;
        border: 1px solid map-get($map: v.$color, $key: "dark-gray");
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.25s ease;
        flex-shrink: 0;
        &.large {
          width: 50px;
          height: 50px;
          font-size: 2vh;
        }
      
        i {
          transition: 0.25s ease;
        }
      
        &:hover,
        &:focus {
          background-color: map-get($map: v.$color, $key: "dark-cream");
          box-shadow: 0 0 0 4px map-get($map: v.$color, $key: "light-color"), 0 0 0 5px map-get($map: v.$color, $key: "dark-gray");
        }
      }
      
    }
  }
  