@use "./../../../helper/mixins" as m;
@use "./../../../helper/variables" as v;

.profile-container {
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;

  .profile-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;

    .profile-picture {
      grid-column: 1;
      grid-row: 1;
      width: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .profile-details {
      grid-column: 2;
      grid-row: 1;
      align-self: center; 
      justify-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      p {
        margin: 10px 0;
        font-size: 14px;

        strong {
          font-weight: bold;
        }
      }
    }

    .upload-buttons {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      gap: 10px;

      button {
        padding: 10px 50px;
        font-size: 16px;
        border: 2px dashed #b3a4f6;
        border-radius: 10px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        color: map-get($map: v.$color, $key: "info");

        &:hover {
          border-color: #888;
        }
      }
    }

    .edit-profile-container {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .edit-profile {
        padding: 10px 20px;
        font-size: 14px;
        color: map-get($map: v.$color, $key: "info");
        border: 2px dashed #b3a4f6;
        background: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.3s;
        text-decoration: none;

        &:hover {
          border-color: #888;
        }
      }
    }
  }
}
