@use "./../../../helper/mixins" as m;
@use "./../../../helper/variables" as v;

.edit-profile-container {

  .edit-profile-grid {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 2 Kolom */
    grid-template-rows: auto auto;
    gap: 20px;

    .profile-image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        border-radius: 12px;
        border: 2px solid #ddd;
        object-fit: cover;
      }
    }

    .profile-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-row {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 kolom per baris */
        gap: 10px;

        .form-group {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 5px;
            font-weight: bold;
          }

          input,
          select {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
          }
        }
      }
    }
    .upload-buttons {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      gap: 10px;

      button {
        padding: 10px 50px;
        font-size: 16px;
        border: 2px dashed #b3a4f6;
        border-radius: 10px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        color: map-get($map: v.$color, $key: "info");

        &:hover {
          border-color: #888;
        }
      }
    }

    .edit-profile-container {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .edit-profile {
        padding: 10px 20px;
        font-size: 14px;
        color: map-get($map: v.$color, $key: "info");
        border: 2px dashed #b3a4f6;
        background: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.3s;
        text-decoration: none;
        margin:0 19px 0 0;

        &:hover {
          border-color: #888;
        }
      }
    }
  }
}
