@use "../../helper/mixins" as m;
@use "../../helper/variables" as v;

@use "./map/map" as map;

.listing {
  &-map {
    width: 100%;
    height: 73vh;
    padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;
    position: relative;
    grid-area: map;

    @include map.map();
  }

  &-location {
    grid-area: location;
    padding: 0 v.$padding-horizontal-main (v.$padding-vertical-main - 0.8vw);

    &-title {
      font-size: 2.7vw;
      font-weight: 700;
      line-height: 100%;
      padding-bottom: 1.3vh;
    }

    &-desc {
      line-height: 100%;
      padding-bottom: 4.3vh;
      color: rgba(
        $color: map-get($map: v.$color, $key: "dark-gray"),
        $alpha: 0.6
      );
    }
  }

  &-product {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); // 4 kolom yang sama lebar
    gap: 20px; // Jarak antar produk
    padding: v.$padding-vertical-main v.$padding-horizontal-main;

    & > * {
      box-sizing: border-box;
    }
  }
}
